<html>
<head>
<title>ユーザ新規登録</title>

<style>
	p { font: 11pt Meiryo;}
	p#error { font: 15pt Meiryo; color: white;}
	h2 { font : 25pt Meiryo; margin: 40px 0px 0px 0px; }
	div.main {	margin: 0 auto; padding: 20px 20px 10px 20px; border: solid 5px orange; width: 500px; border-radius: 10pt }
	input { margin: 10px; font: 12pt Meiryo; border-radius: 4pt; height: 40px; size:10;}
	button { font: 13pt Meiryo; border-radius: 5pt; background: orange; width: 200px;}
	table.main { margin 100px;}
	div.footer { margin: 30px auto;}
	#test { font-size: 150%;}
</style>
	
</head>
<body>
<div align="center" class="head">
<h2>ユーザ新規登録</h2>
</div>
<div align="center">
	<p></p>
</div>
<div align="center" class="main">
	<form method="post" action="/create">
		<table>
			<tr height="40px">
				<td><p>ユーザID</p></td>
				<td><input type="text" name="userid" placeholder="ユーザIDを入力して下さい" required aria-required="true"/></td>
			</tr>
				<tr height="40px">
				<td><p>ユーザ名</p></td>
				<td><input type="text" name="username" placeholder="ユーザ名を入力してください" required aria-required="true"/></td>
			</tr>
			<tr height="40px">
				<td><p>パスワード</p></td>
				<td><input type="password" name="password" placeholder="パスワードを入力して下さい" required aria-required="true"/></td>
			</tr>
			<tr height="40px">
				<td><p>パスワード(確認用)
				<td><input type="password" name="password2" placeholder="パスワードを入力して下さい(確認用)"/></td>
			</tr>
		</table>
		<table>
			<tr height="30px 0px 0px 0px">
				<td align="center"><button type="submit">登録する</button></td>
			</tr>
		</table>
	</form>
</div>
<div align="center" id="test">
	<a href="/login">ログイン画面に戻る</a>
</div>
</body>
</html>