<html>
<head>
<title>ユーザ登録完了</title>

<style>
	h2 { font : 25pt Meiryo; margin: 40px 0px 0px 0px; }
	#test { font-size: 150%;}
</style>
	
</head>
<body>
<div align="center" class="head">
<h2>登録が完了しました。</h2>
</div>
<div align="center" id="test">
	<a href="/main">→画面が自動で変わらない場合は、ココをクリックして下さい。</a>
</div>
</body>
</html>