<html>
<head>
<title></title>

<style>
	div { font: 15pt Meiryo; margin: 0pt 0pt;}
	p { font : 25pt Meiryo; }
</style>
	
</head>
<body>
<div>
	<table width="100%" height="10pt">
		<tr height="0px">
			<td align="left"><p>XXX病院の予約状況</p></td>
			<td align="right"><a href="/logout" target="_top">ログアウト</a></td>
		</tr>
	</table>
</div>

</body>
</html>