<html>
<head>
<title>ログイン画面</title>

<style>
    p { font: 15pt Meiryo; color: red;}
    h2 { font : 25pt Meiryo; margin: 40px; }
	div.main {	margin: 0 auto; padding: 20px 20px 10px 20px; border: solid 5px orange; width: 500px; border-radius: 10pt }
	input { margin: 10px; font: 12pt Meiryo; border-radius: 4pt; height: 40px; size:10;}
	button { font: 13pt Meiryo; border-radius: 5pt; background: orange; width: 200px;}
	table.main { margin 100px;}
	div.footer { margin: 30px auto;}
	#test { font-size: 150%;}
</style>
	
</head>
<body>
<div align="center" class="head">
<h2>ログイン画面</h2>
</div>
<div align="center">
    <% if (loginFailed){ %><br>
        <p>ユーザID、若しくはパスワードが誤っています</p><br>
    <% }else { %><br>
        <p></p><br>
    <% }%><br>
</div>
<div align="center" class="main">
	<form method="post" action="/login">
		<table>
			<tr height="40px">
				<td align="center"><img src=".\img\login_photo.png" alt="ログインキャラ"></td>
			</tr>	
			<tr height="40px">
				<td><input type="text" name="userid" placeholder="ユーザID"	/></td>
			</tr>	
			<tr height="40px">
				<td><input type="password" name="password" placeholder="パスワード"/></td>
			</tr>
		</table>
		<table>
			<tr height="30px 0px 0px 0px">
				<td align="center"><button type="submit">ログインする</button></td>
			</tr>
		</table>
	</form>
</div>
<div align="center" id="test">
	<a href="/create">ユーザIDを新規登録する</a>
</div>
</body>
</html>
